$Primary:#7643ea;
$Text_Color:#fff;
$Footer-Color:#848484;
$Taga-Color:#007bff;
$Social-Icon-Color:#464646;
$Secondary-Color:#341a79;
$Tagp-Color:#848484;
$Tagh4-Color:#2a2a2a;
$Card-Background-Color:#f4f6f8;
$Tagi-Color:#c2b6d9;
$Form-Background-Color:#f3edff;
$Input-Color:#72728c;
$Area-Background-Color:#30c0a3;